*{
  margin: 0;
  padding: 0;
}
html{
  scroll-behavior: smooth;
}
body{
  display: flex;
  flex-direction: column;
}
header{
  display: flex;
  width: 100%;
  justify-content: space-between;
  background-color: black;
  border-bottom: 2px solid #fff;
}
nav {
  width: 35%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 5%;
}

ul {
  width: 100%;
  display: flex;
  justify-content: space-around;
  text-decoration: none;
  list-style: none;
  background-color: black;
}

li {
  display: flex;
}

li > a {
  background-color: #fff;
  text-decoration: none;
  padding: 10px;
  border-radius: 30px;
}

main{
  width: 100%;
  height: 600px;
}

figure{
  display: flex;
  column-gap: 10%;
}
figcaption{
  display: flex;
  align-items: center;
}
figure p{
  font-size: 20px;
  text-align: justify;
  letter-spacing: 1.5px;
  line-height: 25px;
  width: 100%;
}

footer{
  height: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
  background-color: black;
  border-top: 2px solid #fff;
}

#home{
  background-color: black;
}
#about{
  background-color: white;
}

.logo{
  display: flex;
  font-size: 30px;
  padding: 20px 0 20px 20px;
  width: 8%;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
.home-section{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 10px;
  height: 100%;
}
.home-section > div{
  display: flex;
  flex-direction: column;
  border: 2px dotted #F8F8FF;
  width: 350px;
  height: 210px;
  justify-content: center;
  align-items: center;
}
.home-section p{
  color: #F8F8FF;
  font-size: 20px;
}
.home-section h1{
  font-size: 40px;
  color: #F8F8FF;
}
.about-section{
  display: flex;
  flex-direction: column;
  padding: 50px 10%;
  row-gap: 30px;
}
.abouts{
  padding: 10px 20px;
  border-radius: 10px;
  cursor: grab;
}
.about-section h3{
  font-size: 25px;
}
.about-section h4,
.about-section h5{
  font-size: 20px;
}
.about-section h6{
  font-size: 18px;
}
.education{
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
.skill{
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
.skill > section{
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  width: 100%;
}
.skill article{
  display: flex;
  column-gap: 20px;
  width: 50%;
}
.skill div{
  display: flex;
  column-gap: 20px;
}
.skill p{
  font-size: 20px;
}
.pro-lang{
  display: flex;
  flex-direction: column;
}

.logo:last-child{
  width: 100%;
  padding: 0;
  padding-bottom: 10px;
  justify-content: center;
  column-gap: 10px;
}
.sns-link{
  display: flex;
  width: 10%;
  justify-content: space-between;
  position: absolute;
  font-size: 25px;
  padding-left: 50px;
}

.fa-teamspeak{
  color: red;
}
.name-logo{
  color: darkgray;
}

.sample-accordion {
  overflow: hidden;
  height: 600px;
}


.sample-accordion .ac-content {
  display: flex;
  justify-content: center;
}

.ac-content {
  width: 100%;
}
.label-accordion {
  height: 600px;
  display: block;
  cursor: pointer;
  border-bottom: 1px solid #fff;
  width: 15%;
  padding-top: 50px;
  text-align: center;
}
.label-accordion:hover {
  background: #ccc;
  font-size: 20px;
}
.label-accordion:nth-child(even) {
  background-color: #fff;
  color: black;
}
.label-accordion:nth-child(even) + :checked{
  border-right: 3px solid #fff;
}


.label-accordion:nth-child(odd) {
  background-color: black;
  color: #fff;
}
input[name="ac"] {
  display: none;
}
.ac-cont {
  transition: 0.2s;
  overflow-y: scroll;
  height: 580px;
  border-right: 1px solid #fff;
  padding: 0 10px;
  display: none;
}
.ac-cont:nth-child(even){
  background-color: #fff;
  border-left: 2px solid black;
}
.ac-cont:nth-child(odd){
  background-color: black;
  border-left: 2px solid #fff;
}
input[name="ac"]:checked + .ac-cont {
  width: 100%;
  padding: 10px;
  display: block;
}

.mypic {
  width: 250px;
  height: 320px;
  border-radius: 50px;
}
#form-label{
  display: flex;
  flex-direction: column;
}
.aboutpage:checked{
  width: 100%;
  height: 600px;
  padding: 10px;
  display: block;
}

.chart-wrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.chart-html {
  width: 100%;
  margin: 0;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

#myChart{
  width: 350px;
  clip: rect(30px 30px 30px 30px);
  margin: 0 !important;
}

 .iconn{
  position: absolute;
  transform: translateY(6px);
 }



.projects-section{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.projects-section > article{
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  column-gap: 80px;
  padding-top: 50px;
  row-gap: 50px;
  width: 760px;
  margin: 0;
}
.projects-section figure {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
.projects-section img{
  width: 200px;
  height: 200px;
  border-radius: 15px;
  outline: 1px solid #fff;
}
.projects-section p{
  color: #fff;
  text-align: center;
}

.contact-section{
  display: flex;
  padding: 50px 10%;
  column-gap: 50px;
}
.left-contact {
  display: flex;
  flex-direction: column;
  row-gap: 50px;
  font-size: 18px;
  width: 40%;
}
.left-contact > div{
  display: flex;
  column-gap: 30px;
}
.left-contact i{
  color: black;
}
.left-contact a {
  text-decoration: none;
}
.link{
  display: flex;
  justify-content: center;
}

.right-contact {
  width: 100%;
}
form{
  border: 1px solid black;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  padding: 20px;
  align-items: center;
  width: 100%;
}
form > div {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  width: 100%;
}
form section {
  width: 100%;
  display: flex;
  column-gap: 1%;
}

form input{
  font-size: 18px;
  width: 100%;
}
#input-email,
#input-phone{
  width: 99.3%;
}

#text-message{
  width: 99.7%;
}

form > button{
  width: 30%;
  height: 40px;
  font-size: 15px;
}

/* .h1{
  margin-bottom: 500px;
}


.h1,.h2{
  text-align: center;
}

.chartGraphBox{
  margin-bottom: 500px;
} */
.fa-html5 {
  color: orange;
}
.fa-css3-alt{
  color: deepskyblue;
}
.fa-php{
  color: mediumpurple;
}
.fa-react{
  color: lightskyblue;
}
.fa-js{
  color: darkgoldenrod;
}
.fa-angular{
  color: red;
}
.fa-vuejs{
  color: yellowgreen;
}
.fa-html5,
.fa-css3-alt,
.fa-php,
.fa-react,
.fa-js,
.fa-angular,
.fa-vuejs{
  font-size: 50px;
}
.fadein-before{
  /*透過度の設定。0で表示されなくなる。*/
  opacity: 0;
  /*要素を左に100pxずらしたところに配置する*/
  transform:translateX(-100px);
  /*透過度と表示位置を1秒かけて変化させる*/
  transition:opacity 1s,transform 1s;
}

.fadein-after{
  /*透過度の設定。非表示から表示にする。*/
  opacity: 1;
  /*要素を100px左にしていたのを元の位置に戻す*/
  transform: translate(0);
}