*{
  margin: 0;
  padding: 0;
}

html{
  scroll-behavior: smooth;
}

body{
  /* font-family: 'Nunito Sans', sans-serif; */
  font-family: 'Libre Bodoni', serif;
  display: flex;
  flex-direction: column;
}
header{
  display: flex;
  width: 100%;
  justify-content: space-between;
  background-color: #F9F7F7;
  border-bottom: 2px solid #112D4E;
  height: 12.5vh;
}
nav {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 5%;
}

ul {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-decoration: none;
  list-style: none;
  background-color: #F9F7F7;
}

li{
  width: 25%;
  text-align: center;
}

li > a {
  background-color: #F9F7F7;
  text-decoration: none;
  padding: 10px;
  color: #112D4E;
  font-size: 20px;
  transition: .5s;
  font-weight: 700;
}
li > a:hover {
  cursor: pointer;
  font-size: 25px;
  color: #3F72AF;
}

main { 
  position: relative; 
  display: inline-block;
  width: 99.9%;
  height: 75vh;
  overflow: hidden;
}
input[name='ac'] {
   display: none;
}
input[name='ac']:checked + .ac-cont{ 
  width: 100%;
  display: block;
}
.ac-content{
  overflow: hidden;
}

.label-accordion { 
  font-family: 'Sigmar One',fantasy;
  cursor: pointer; 
  border: solid 1px transparent;
  text-align: center; 
  line-height: 40px;  
  float: left;
  width: 11%;
  height: 75vh;
  line-height: 200px;
  margin: 0;
  text-orientation: upright;
  writing-mode: vertical-rl;
  font-size: 40px;
  letter-spacing: -35px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .3s;
  background-color: #112D4E;
  color: #DBE2EF;
  border-left: 1px solid #112D4E;
  border-right: 1px solid #112D4E;
}
.label-accordion:hover{
  background-color: #DBE2EF;
  color: #112D4E;
  font-size: 50px;
}
.label-accordion:last-child{
   margin-right: 0;
}
.ac-cont { 
  width: 0;
  height: 75vh;  
  overflow-y: scroll; 
  -webkit-transition: width .25s linear, opacity .2s linear; 
  transition: width .25s linear, opacity .3s linear; 
  position: relative; 
  margin-bottom: 0;
  opacity: 0;
  float: left;
}
.accordion:last-child .ac-cont {
  margin-right: 0;
}

.accordion > input:checked ~ .ac-cont {
  width: 55.58%; opacity: 1;
}
figure{
  display: flex;
  column-gap: 10%;
}
figcaption{
  display: flex;
  align-items: center;
}
figure p{
  font-size: 20px;
  text-align: justify;
  letter-spacing: 1.5px;
  line-height: 25px;
  width: 100%;
}
form{
  border: 3px dotted #112D4E;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  padding: 20px;
  align-items: center;
}
form > div {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  width: 100%;
}
form section {
  width: 100%;
  display: flex;
  column-gap: 1%;
}

form input{
  font-size: 18px;
  width: 100%;
}

form > button{
  width: 30%;
  height: 40px;
  font-size: 15px;
}

footer{
  height: 12.5vh;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #F9F7F7;
  border-top: 2px solid #112D4E;
}

#home,#about,#projects,#contact{
  background-color: #DBE2EF;
}

#skills{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

#myChart,
#myChart2,
#myChart3,
#myChart4,
#myChart5,
#myChart6,
#myChart7{
  z-index: -1;
}

#projects::-webkit-scrollbar,
#about::-webkit-scrollbar,
#home::-webkit-scrollbar,
#contact::-webkit-scrollbar{
  display: none;
}
#form-label{
  display: flex;
  flex-direction: column;
}
#input-email,
#input-phone{
  width: 99.3%;
}

#text-message{
  width: 99.7%;
}
.logo:first-child{
  display: flex;
  font-size: 30px;
  padding: 20px 0 20px 40px;
  width: 8%;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.logo:first-child img{
  transition: .3s;
}
.logo:first-child img:hover{
  transform: scale(1.1);
}

.home-section{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 20px;
  height: 100%;
}
.home-section > div{
  display: flex;
  flex-direction: column;
  border: 3px dotted #112D4E;
  width: 400px;
  height: 250px;
  justify-content: center;
  align-items: center;
}
.home-section p{
  color: #112D4E;
  font-size: 30px;
  padding-bottom: 10px;
}
.myName{
  letter-spacing: 1px;
  font-size: 40px;
  color: #112D4E;
}
.jpName{
  font-family: 'Yuji Boku', serif;
  font-size: 40px;
  color: #112D4E;
}
.resume{
  padding: 10px 20px;
  font-size: 20px;
  border-radius: 10px;
  cursor: grab;
  background-color: #112D4E;
  text-decoration: none;
  font-weight: 700;
  color: #DBE2EF;
  transition: .5s;
}
.resume:hover{
  cursor: grabbing;
  background-color: #3F72AF;
  transform: scale(1.5);
}

.abouts{
  padding: 10px 20px;
  border-radius: 10px;
  background-color: #112D4E;
  cursor: grab;
  border: none;
  color: #DBE2EF;
  font-weight: 700;
  transition: .5s;
}
.abouts:hover{
  transform: scale(1.5);
  background-color: #3F72AF;
}
.about-section{
  display: flex;
  flex-direction: column;
  padding: 50px 10%;
  row-gap: 30px;
  color: #112D4E;
}
.about-section h3{
  font-size: 25px;
}
.about-section h4,
.about-section h5{
  font-size: 20px;
}
.about-section h6{
  font-size: 18px;
}
.education{
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
.skill{
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
.skill > section{
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  width: 100%;
}
.skill article{
  display: flex;
  column-gap: 20px;
  width: 100%;
}
.skill div{
  display: flex;
  column-gap: 20px;
}
.skill p{
  font-size: 20px;
}
.pro-lang{
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}
.mypic {
  width: 250px;
  height: 320px;
  border-radius: 50px;
}

.chart-wrapper {
  display: flex;
  flex-wrap: wrap;
  row-gap: 30px;
  column-gap: 30px !important;

}
.chart-html,
.chart-css,
.chart-php,
.chart-react,
.chart-js,
.chart-angular,
.chart-vue {
  margin: 0;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 146.2px;
}

.fa-html5 {
  color: #E34C26;
}
.fa-css3-alt{
  color: #264DE4;
}
.fa-php{
  color: #787CB5;
}
.fa-react{
  color: #61DBFB;
}
.fa-js{
  color: #F0DB4F;
}
.fa-angular{
  color: #DD1D16;
}
.fa-vuejs{
  color: #41B883;
}
.fa-html5,
.fa-css3-alt,
.fa-php,
.fa-react,
.fa-js,
.fa-angular,
.fa-vuejs{
  font-size: 50px;
}
.fadein-before{
  /*透過度の設定。0で表示されなくなる。*/
  opacity: 0;
  /*要素を左に100pxずらしたところに配置する*/
  transform:translateX(-100px);
  /*透過度と表示位置を1秒かけて変化させる*/
  transition:opacity 1s,transform 1s;
}

.fadein-after{
  /*透過度の設定。非表示から表示にする。*/
  opacity: 1;
  /*要素を100px左にしていたのを元の位置に戻す*/
  transform: translate(0);
}

.iconn{
position: absolute;
padding-bottom: 42px;
}

.projects-section{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px;
}
.projects-section > article{
  display: flex;
  flex-wrap: wrap;
  column-gap: 50px;
  padding-left: 50px;
  row-gap: 50px;
  width: 100%;
}
.projects-section figure {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  transition: .5s;
}
.projects-section img{
  width: 200px;
  height: 200px;
  border-radius: 35%;
  outline: 1px solid #112D4E;
}
.projects-section p{
  color: #112D4E;
  text-align: center;
}
.contact-section{
  display: flex;
  padding: 50px 70px;
  column-gap: 50px;
}
.left-contact {
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  row-gap: 50px;
  width: 40%;
}
.info{
  display: flex;
  flex-direction: column;
  row-gap: 50px;
  font-size: 18px;
}
.info > div{
  display: flex;
  column-gap: 20px;
}
.info i{
  color: #112D4E;
}
.info a {
  text-decoration: none;
  font-weight: 800;
  color: #112D4E;
  transition: .3s;
}
.info a:hover{
  color: #3F72AF;
  transform: scale(1.1);
}
.link{
  width: 80%;
  padding-left: 10%;
  display: flex;
  justify-content: space-between;
  font-size: 25px;
}

.link i{
  color: #112D4E;
  transition: .3s;
}
.link i:hover{
  color: #3F72AF;
  transform: scale(1.3);
}

.right-contact {
  width: 100%;
}

.sns-link{
  display: flex;
  width: 10%;
  justify-content: space-between;
  font-size: 25px;
  margin-left: 50px;
  z-index: 1;
}

.sns-link > a{
  color: #112D4E;
  transition: .3s;
} 
.sns-link > a:hover{
  color: #3F72AF;
  transform: scale(1.3);
}
.logo:last-child{
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo:last-child img{
  transition: .3s;
}
.logo:last-child img:hover{
  transform: scale(1.4);
}